/**Global Styles**/

html {
    background: #eee;
}


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    margin: 0 auto;
    width: 100vw;
    text-align: center;
    overflow-x: hidden;
    max-width: 1200px;
    background: white;

}

hr {
    width: 100%;
    opacity: .5;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/*Header Section*/

header {
    background-color:cornflowerblue;
    padding: 1rem;
    height: 100vh;
}

header p, header h1, header h3, header ul {
    color: oldlace;
}
nav ul {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li {
    margin: 0 1rem;
}
header h1 {
    font-size: 5rem;
}
header p {
    font-size: 1.6rem;
    padding: 1rem 0;
    border-bottom: 1px solid lightgray;
}
.rotate {
    margin-top: 2rem;
    font-size: 3rem;
    opacity: 0.4;
}

/*Parallax*/

/*RECENT WORK SECTION*/ 

.parallax {
    background-image: url('../css/Home-bg.jpg'); background-repeat: no-repeat; 
    background-position:center; 
    background-attachment:fixed; 
    height: 100vh; 
    width: 100vw; 
    background-size:cover;
    max-width: 1200px;
}

#about-me {
    display: flex;
    flex-direction: column;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

.slider div {
    width: 50%;
    height: 400px;
}

.slider_div_1 {
    background-color: red;
    position: relative;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100% !important;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider_div_1:hover .overlay, .slider_div_2:hover .overlay, .slider_div_3:hover .overlay {
    opacity: 1;    
}


.overlay_text {
    font-size: 20px;    
    text-align: left;
    padding: 20px 20px;
}



.slider_div_2 {
    background-color: green;
    position: relative;
}

.slider_div_3 {
    background-color: yellow;
    position: relative;
}

.slider_div_1, .slider_div_2, .slider_div_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slick-initialized .slick-slide {
    display: flex;
}

.animated-bio {
    width: 600px;
    margin: 50px auto;
}

.animated-bio h1 {
    width: 650px;
    font-size: 40px;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    text-align: left;
}
.animated-bio h1 .box {
    background-color: blue;
    position: absolute;
    height: 5px;
    display: inline-block;
    bottom: 0;
}

.recent-work {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    margin: 1rem 0;
}

.recent-work-tittle {
    font-size: 1.6rem;;
}
.recent-work-info {
    padding: 1rem;
}
.recent-work-info h4 {
    font-size: 1.4rem;
}
.features > li {
    margin: 1rem 0;
}

/*
CONTACT US
*/
#contact {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100vh;
    background-color:brown;
    color:cornsilk;
    max-width: 1200px;
}
.contact-heading {
    margin: 0;
    font-size: 5rem;
}
.contact-text {
    font-size: 1.4rem;
    margin-bottom: 3rem;
}
#contact .rotate {
    display: none;
}
.parallax {
    color: white;
    font-size: 3rem;
}
#contact {
    height: 100vh;
    max-width:1200px;
}

/*
PROJECTS PAGE
*/

.projects-title {
    font-size: 1.6rem;
}

.projects {
    display: flex;
    flex-direction: column;
}

.grid-item {
    margin-bottom: 1rem;
    padding: 1rem;
    padding-right: 2rem;
    background-color: lightslategray;
    position: relative;
}

.hidden-text {
    display: none;
}

.grid-item img {
    position: relative;
}

.grid-item:hover > .hidden-text {
    display: block;
    position: absolute;
    color: white;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%)
}

.grid-item:hover img {
    filter: brightness(.4);
    transform: scale(1.1);
    opacity: 0.98;
}

.grid-item img {
    width: 100%;
    height: 100%;
}

#work1 {
    grid-area: work1
}

#work2 {
    grid-area: work2
}

#work3 {
    grid-area: work3
}

#work4 {
    grid-area: work4
}

#work5 {
    grid-area: work5
}

#work6 {
    grid-area: work6
}

#work7 {
    grid-area: work7
}

#work8 {
    grid-area: work8
}

#work9 {
    grid-area: work9
}

@media screen and (min-width: 900px){

    body {
        width: 100vw;
        margin: 0 auto;
        background-color: blueviolet;
        
    }
    nav ul {
        justify-content: flex-end;
    }
    header {
        height: 100%;
    }

    .recent-work {
        flex-direction:row;
    } 
    .recent-work-info {
        flex:1;
        padding: 2rem;
    }

    .recent-work-image {
        flex: 2;
        border:lightslategray 1rem solid;
    }

    .recent-work-image img {
        height: 100%;
        width: 100%;
    }

    .move-right {
        order: 1;
    }

    .contact-heading {
        margin: 0;
        font-size: 8rem;
    } 

    #contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        max-height: 100vh;
        max-width: 100vw;
    }

    #contact .rotate  {
        display: block;
        padding-right: 30px;
        font-size: 4.2rem;
        writing-mode:vertical-lr;
        text-orientation:upright;
        padding-left: 10px;
    }

    .contact-info {
        padding-left: 30px;
        padding-top: 10px;
    }

    .contact-text {
        font-size: 2rem;
    }

    .parallax {
        color: white;
        font-size: 3rem;

    }
    
    .projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .grid-item {
        flex-basis: 45%;
        padding: 1rem;
        margin-right: 1rem;
    }        
}

.fade-in-custom {
    opacity: 0;
    animation: fadeIn ease-in;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}
.delay1 {
    animation-delay: 0.5s;
    
}
.delay2 {
    animation-delay: 1s; 
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@media (min-width: 1000px) {

    .projects {
        margin-left: 1rem;
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-gap: 20px;
        grid-template-areas: 
        "work1 work4 work7"
        "work2 work5 work7"
        "work3 work6 work8"
        "work9 work9 work9"
        ;
    }
}

@media (max-width: 500px){
    header h1{
        font-size: 3rem;
    }

    header .rotate {
        display: none;
    }


}
